<h1 class="newColor">Login or Register to join our Website!</h1>

<% random.forEach(function(random) { %>
    <img src="<%= random.strDrinkThumb %>">
    <h3 class="newColor"> <%= random.strDrink %></h3> 
<% }) %>