<h1 class="newColor">Login or Register to have access  to hundreds of cocktail recipes!</h1>

<% random.forEach(function(random) { %>
    <img src="<%= random.strDrinkThumb %>">
    <h2 class="newColor"> <%= random.strDrink %></h2> 
<% }) %>