<!DOCUTYPE html>
<html>
    <head>
        <!-- The following 3 lines of code are from https://getbootstrap.com/docs/3.3/getting-started/#download -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css"
        <title>Mix it Up</title>
    </head>
    <body>
        <header>
            <nav>
                <% if (currentUser) { %>
                    <a href="/auth/logout">Logout</a>
                    <a href="/profile">Profile</a>
                    <a href="/favorites">Favorites</a>
                    <a href="/search">Search Cocktails</a>
                    <a href="/ingredients">Ingredients</a>
                <% } else { %>
                    <a href="/auth/register">Register</a>
                    <a href="/auth/login">Login</a>
                <% } %>
            </nav>
        </header>
        <div class="container">
            <h1> 🍸🍹 Mix it Up 🍹🍸</h1>
            <%- include('./partials/alerts') %>
            <%- body %>
        </div>
    </body>
</html>