<h2>Hi <%= currentUser.name %>. Welcome to the app!</h2>
<!-- <div class="container">
    <h2>My Favorite Cocktails</h2>
    <ul>
        <% drink.forEach(function(favorite) { %>
            <li><a href="/profile/<%= favorite.id %>"><%= favorite.name %></a></li>
        <% }) %>
    </ul>
</div> -->