<h2>Search For Cocktails Here!</h2>

<form action="/search" method="GET" >
    <label for="filter">Search By:</label>
    <select name="filter" id="filter">
        <option value="<% cocktail %>">Cocktail</option>
        <option value="<% cocktail %>">Ingredient</option>
        <option value="<% cocktail %>"> First Letter</option>
    </select>
    <input type="text" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
</form>

<% cocktail.forEach(function(cocktail) { %>
    <img src="<%= cocktail.strDrinkThumb %>">
    <p> <%= cocktail.strDrink %></p> 
<% }) %>
