<div class="well">
    <h4>Your Favorite Cocktails</h4>
    <ul>
        <% fav.forEach(function(favorite) { %>
            <li><a href="/favorites/<%= favorite.idDrink %>"><%= favorite.name %></a></li>
        <% }) %>
    </ul>
</div>