.nav {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.logo{
    margin-top: 20px;
}

.nav,a {
color: black;
}

header {
    padding-bottom: 0px;
    background:rgba(255,255,255,0.5);
}

body {
    background: no-repeat center center fixed;
    background-image: url("https://i.imgur.com/0wOC25S.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    /* color: darkgray;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: rgb(53, 53, 53); */
}

.newColor {
    color: black;
    /* color: rgb(53, 53, 53);
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: rgb(255,255,255); */
}

div {
    text-align: center;
}

img {
    border-radius: 25px;
    border: 1px solid black;
}

.logo {
    border: none;
}

.ingredientImages {
    border: none;
}

li {
    text-align: center;
}

ul {
    list-style: none;
}

.favoriteDiv {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: none;
    display: inline-block;
}

.searchBox {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
}

#allIngredients {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 73px;
}

.eachIngredient {
    margin: 10px;
    width: 180px;
    height: auto;
    text-align: center;
    background:rgba(255,255,255,0.5);
    border-radius: 25px;
    padding-bottom: 10px;
}

.searchImg {
    width: 25vw;
    height: auto;
    border-radius: 25px;
}

.showUl,li {
    padding: 0;
}

.recipe {
    width: 25vw;
    height: auto;
    margin: 0 auto;
    background:rgba(255,255,255,0.5);
    border-radius: 25px;
}