body {
    background: no-repeat center center fixed;
    background-image: url("https://i.imgur.com/0wOC25S.jpg");
    background-size: cover;
    text-align: center
    /* color: darkgray;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: rgb(53, 53, 53); */
}
 form.button {
    color: black;
 }
/* h1 {
    font-family: ;
} */

div {
    text-align: center;
}

img {
    border-radius: 25px;
    border: 1px solid black;
}

li {
    text-align: center;
}

ul {
    list-style: none;
}

.favoriteDiv {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: .5px solid black;
    display: inline-block;
}

.searchBox {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
}

#allIngredients {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 73px;
}

.eachIngredient {
    margin: 10px;
    width: 180px;
    height: auto;
    text-align: center;
    background:rgba(255,255,255,0.5);
    border-radius: 25px;
}

.searchImg {
    width: 25vw;
    height: auto;
    border-radius: 25px;
}

.form-group {
    text-align: center;
}

.well {
    text-align: center;
}