.nav {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.logo {
    margin-top: 20px;
    border: none;
    max-width: 100%;
}

.nav,a {
color: black;
}

header {
    padding-bottom: 0px;
    background:rgba(255,255,255,0.5);
}

body {
    background: no-repeat center center fixed;
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
        url("../images/background.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
}

.newColor {
    /* color: rgb(121, 108, 103); */
    color: white;
}

h1{
    text-decoration: underline;
}

.welcomeMessage {
    text-decoration: none;
}

.ingredientName {
    text-decoration: underline;
}

div {
    text-align: center;
}

img {
    border-radius: 25px;
    border: 1px solid black;
}

.ingredientImages {
    border: none;
}

li {
    text-align: center;
}

ul {
    list-style: none;
}

.favoriteDiv {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: none;
    display: inline-block;
    width: 25%;
}

.pantryDiv {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: none;
    width: 45%; 
    margin: auto;
    margin-bottom: 30px;
}

.newPantry {
    margin-bottom: 50px;
}

.searchBox {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
}

.searchResults {
    background:rgba(255,255,255,0.5);
    border-radius: 25px;
    border: none;
    width: 25vw; 
    margin: auto;
    margin-bottom: 30px;
}

#allIngredients {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 73px;
}

.eachIngredient {
    margin: 10px;
    width: 180px;
    height: auto;
    text-align: center;
    background:rgba(255,255,255,0.5);
    border-radius: 25px;
    padding-bottom: 10px;
}

.searchImg {
    width: 25vw;
    height: auto;
    border-radius: 25px;
}

.showUl,li {
    padding: 0;
}

.recipe {
    padding: 10px;
}