<h2>Search For Cocktails Here!</h2>

<form action="/search" method="GET" >
    <label for="filter">Search Cocktails:</label>
    <input type="text" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
</form>

<% if (cocktail) { %>
    <% cocktail.forEach(function(cocktail) { %>
        <div class="well">
            <img src="<%= cocktail.strDrinkThumb %>">
            <p><a href="/search/<%= cocktail.idDrink %>"> <%= cocktail.strDrink %> </a></p>
            <form method="POST" action="/favorites">
                <input hidden type="text" name="name" value="<%= cocktail.strDrink %>">
                <button class="btn btn-primary" type="submit">Add to Favorites List</button>
            </form>
        </div>
    <% }) %>
<% } %>   