<form action="/pantries"  method:"POST">
    <div class="form-group">
        <label for="pantryName">Pantry Name</label>
        <input type="text" class="form-control" id="pantryName" name="pantryName">
    </div>
    <div class="form-group">
        <label for="ingredientName">Ingredients</label>
        <input type="ingredientName" class="form-control" id="ingredientName" name="ingredientName">
    </div>
</form>