<form method:"POST" action="/pantries">
    <div class="form-group">
        <label for="pantryId">Pantry Name</label>
        <input type="text" class="form-control" id="pantryId" name="pantryName">
        <button class="btn btn-primary" type="submit">Create New Pantry</button>
    </div>
</form>